.row
  - @subjects.each do |subject|
    %section.col-md-6.col-lg-4.mb-5
      .card
        %header.card-body
          .card-subtitle.text-muted #{subject.term_id} #{subject.display_number}
          %h4.card-title.mb-0= link_to subject.title, subject, class: 'text-dark'
        .list-group.list-group-flush
          - if subject.works.where('score > 0').exists?
            - subject.works.includes(:student, :subject).where('score > 0').each do |work|
              - cache work do
                = render work do
                  %span.text-muted.link{ data: { href: student_path(work.student) } }= work.student.name
          - if subject.works.exists?
            - subject.works.includes(:student, :subject).unscope(:order).order(created_at: :desc).each do |work|
              - cache work do
                = render work do
                  .d-flex.justify-content-between
                    %span.text-muted.link{ data: { href: student_path(work.student) } }= work.student.name
                    %span.text-muted #{time_ago_in_words(work.created_at)}前
          - elsif subject.synopses.where(selected: true).exists?
            - subject.synopses.includes(:student, :subject).where(selected: true).each do |synopsis|
              - cache synopsis do
                = render synopsis do
                  %span.text-muted.link{ data: { href: student_path(synopsis.student) } }= synopsis.student.name
          - else
            - subject.synopses.includes(:student, :subject).unscope(:order).order(created_at: :desc).each do |synopsis|
              - cache synopsis do
                = render synopsis do
                  .d-flex.justify-content-between
                    %span.text-muted.link{ data: { href: student_path(synopsis.student) } }= synopsis.student.name
                    %span.text-muted #{time_ago_in_words(synopsis.created_at)}前
