.row
  - @subjects.each do |subject|
    %section.col-md-6.col-lg-4.mb-3
      .card
        %header.card-body
          .card-subtitle.text-muted #{subject.term_id} #{subject.display_number}
          %h4.card-title.mb-0= link_to subject.title, subject, class: 'text-dark'
        - if subject.works.where('score > 0').exists?
          .list-group.list-group-flush
            - subject.works.includes(:student, :subject).where('score > 0').each do |work|
              - cache work do
                = render work do
                  %span.text-muted.link{ data: { href: student_path(work.student) } }= work.student.name
        - if subject.works.exists?
          .list-group.list-group-flush
            - subject.works.includes(:student, :subject).unscope(:order).order(created_at: :desc).each do |work|
              = render work do
                = render 'work_footer', work: work
        - elsif subject.synopses.where(selected: true).exists?
          .list-group.list-group-flush
            - subject.synopses.includes(:student, :subject).where(selected: true).each do |synopsis|
              - cache synopsis do
                = render synopsis do
                  %span.text-muted.link{ data: { href: student_path(synopsis.student) } }= synopsis.student.name
        - else
          .list-group.list-group-flush
            - subject.synopses.includes(:student, :subject).unscope(:order).order(created_at: :desc).each do |synopsis|
              = render synopsis do
                = render 'work_footer', work: synopsis
