- content_for :title, @student.name

%header
  %h1= @student.name

- if @student.profile.present?
  %p= simple_format(auto_link(@student.profile))

= render 'shared/link_to_original', obj: @student

%section.mb-5
  %header
    %h2 得点
  %dl.row
    - @student.terms.each do |term|
      .col-4.col-md-2
        %dt= term.id
        %dd= @student.score(term.id)

- unless @student.works.empty?
  %section.mb-5
    %header
      %h2 実作
    - @student.works.group_by { |w| w.subject.term_id }.each do |year, works|
      %section
        %header
          %h4= year
        .list-group
          - works.each do |work|
            - cache work do
              = render work do
                %span.text-muted.link{ data: { href: subject_path(work.subject) } } #{work.subject.display_number} #{work.subject.title}

- unless @student.synopses.empty?
  %section.mb-5
    %header
      %h2 梗概
    - @student.synopses.group_by { |w| w.subject.term_id }.each do |year, synopses|
      %section.mb-3
        %header
          %h4= year
        .list-group
          - synopses.each do |synopsis|
            - cache synopsis do
              = render synopsis do
                %span.text-muted.link{ data: { href: subject_path(synopsis.subject) } } #{synopsis.subject.display_number} #{synopsis.subject.title}
