- content_for :title, "得点 #{@term.year}"

%nav.nav.nav-pills.justify-content-center.mb-5
  - Term.all.reverse_order.each do |term|
    = link_to term.year, score_path(term.year), class: "nav-item nav-link#{term == @term ? ' active' : ''}"

= render 'shared/link_to_original', url: original_scores_url(@term.year)

%canvas.score-chart.mb-5{ id: "scoreChart#{@term.year}", data: { labels: @score_chart[:labels].to_json, datasets: @score_chart[:datasets].to_json }}
