= link_to work_path(work), class: "list-group-item list-group-item-action #{local_assigns.fetch(:class, '')}" do
  .d-flex.justify-content-between.align-items-start
    %h5= work.title.presence || '（タイトルなし）'
    - if work.score > 0
      %span.badge.badge-success.badge-pill= work.score
  %blockquote.blockquote.novel
    %p= truncate(work.content, length: 80, separator: '。')
  = yield
