= link_to subject, class: 'list-group-item list-group-item-action' do
  .d-flex.align-items-center
    %span.lead.flex-grow-1 #{subject.display_number}「#{subject.title}」
    - if subject.works.size > 0
      %span.badge.badge-primary.badge-pill= subject.works.size
    - if subject.synopses.size > 0
      %span.badge.badge-secondary.badge-pill.ml-1= subject.synopses.size
  .d-flex.justify-content-between
    %span.text-muted= subject.proposers.map(&:name).join(', ')
    %time.text-muted{ datetime: subject.date }= l subject.date, format: :long
