- content_for :title, @subject.title

%header.text-center
  .lead.text-muted #{@subject.term_id} #{@subject.display_number}
  %h1= @subject.title

%dl.row.justify-content-center
  - if @subject.proposer
    %dt.col-6.text-right= Lecturer::ROLE_NAME_PROPOSER
    %dd.col-6.text-left= @subject.proposer&.name
  - unless @subject.no_work?
    .col-md-6.text-center
      %dt 実作講評
      %dl
        %time{ datetime: @subject.work_comment_date }= l @subject.work_comment_date, format: :long
        %ul.list-inline.with-comma
          - @subject.work_commenters.each do |lecturer|
            %li.list-inline-item= lecturer.name_with_note
  - unless @subject.no_synopsis?
    .col-md-6.text-center
      %dt 梗概講評
      %dl
        %time{ datetime: @subject.comment_date }= l @subject.comment_date, format: :long
        %ul.list-inline.with-comma
          - @subject.synopsis_commenters.each do |lecturer|
            %li.list-inline-item= lecturer.name_with_note

%nav.mb-5
  %ul.pagination.justify-content-center
    - if @subject.previous
      %li.page-item
        = link_to @subject.previous, class: 'page-link' do
          &laquo; #{@subject.previous.display_number}
    - if @subject.next
      %li.page-item
        = link_to @subject.next, class: 'page-link' do
          #{@subject.next.display_number} &raquo;

= render 'shared/link_to_original', obj: @subject

.row.justify-content-center
  - unless @subject.works.empty?
    %section.col-md-6.mb-5
      %header.text-center
        %h2
          実作
          %span.badge.badge-primary.badge-pill= @subject.works.size
      .list-group
        - @subject.works.each do |work|
          - cache work do
            = render work do
              .d-flex.justify-content-between
                %span.text-muted.link{ data: { href: student_path(work.student) } }= work.student.name
                %span.text-muted #{number_with_delimiter(work.character_count)}字

  - unless @subject.synopses.empty?
    %section.col-md-6.mb-5
      %header.text-center
        %h2
          梗概
          %span.badge.badge-secondary.badge-pill= @subject.synopses.size
      .list-group
        - @subject.synopses.each do |synopsis|
          - cache synopsis do
            = render synopsis do
              .d-flex.justify-content-between
                %span.text-muted.link{ data: { href: student_path(synopsis.student) } }= synopsis.student.name
                %span.text-muted #{number_with_delimiter(synopsis.character_count)}字
