- content_for :title, @subject.title

%header
  .lead.text-muted #{@subject.term_id} #{@subject.display_number}
  %h1= @subject.title

%dl.row
  - unless @subject.deadline_date.nil?
    .col-6.col-md-3
      %dt 梗概締切
      %dd= l @subject.deadline_date, format: :long
  - unless @subject.comment_date.nil?
    .col-6.col-md-3
      %dt 梗概講評会
      %dd= l @subject.comment_date, format: :long
  .col-6.col-md-3
    %dt 実作締切
    %dd= l @subject.work_deadline_date, format: :long
  .col-6.col-md-3
    %dt 実作講評会
    %dd= l @subject.work_comment_date, format: :long

= render 'shared/link_to_original', obj: @subject

- unless @subject.works.empty?
  %section.mb-5
    %header
      %h2 実作
    .list-group
      - @subject.works.each do |work|
        - cache work do
          = render work do
            %span.text-muted.link{ data: { href: student_path(work.student) } }= work.student.name

- unless @subject.synopses.empty?
  %section.mb-5
    %header
      %h2 梗概
    .list-group
      - @subject.synopses.each do |synopsis|
        - cache synopsis do
          = render synopsis do
            %span.text-muted.link{ data: { href: student_path(synopsis.student) } }= synopsis.student.name
