= link_to synopsis.original_url, target: :_blank, class: "list-group-item list-group-item-action #{local_assigns.fetch(:class, '')}" do
  .d-flex.justify-content-between.align-items-start
    %h5= synopsis.title.presence || '(タイトルなし）'
    - if synopsis.selected
      %span.badge.badge-secondary 選出
  %blockquote.blockquote.novel
    %p= truncate(synopsis.content, length: 80, separator: '。')
  = yield
