- content_for :title, @synopsis.title

%header.mb-5
  %h1= @synopsis.title
  %p= link_to '超・SF作家育成サイトの作品ページへ', @synopsis.original_url

%section.mb-5
  .list-group
    - cache @synopsis.subject do
      = render @synopsis.subject
    - cache @synopsis.student do
      = render @synopsis.student

%section.mb-5
  %header
    %h2 梗概
  .novel{ class: "term#{@synopsis.subject.term_id}" }= raw(@synopsis.body)

- if @synopsis.appeal.present?
  %section.mb-5
    %header
      %h2 アピール文
    .novel{ class: "term#{@synopsis.subject.term_id}" }= raw(@synopsis.appeal)
