- content_for :title, @synopsis.title

%nav.mb-3
  .list-group
    - cache @synopsis.subject do
      = render @synopsis.subject
    - cache @synopsis.student do
      = render @synopsis.student

%nav.nav.nav-pills.justify-content-center.mb-3
  = link_to '梗概', '#', class: 'nav-link active'
  - if @synopsis.work.nil?
    = link_to '実作', '#', class: 'nav-link disabled'
  - else
    = link_to '実作', work_path(@synopsis.work), class: 'nav-link'

= render 'shared/link_to_original', obj: @synopsis

%header
  %h1
    = @synopsis.title
    - if @synopsis.selected
      %span.badge.badge-secondary 選出

%main.mb-5
  .novel{ class: "term-#{@synopsis.subject.term_id}" }= raw(@synopsis.body)

- if @synopsis.appeal.present?
  %section.mb-5
    %header
      %h2 アピール文
    .novel{ class: "term-#{@synopsis.subject.term_id}" }= raw(@synopsis.appeal)

%hr.mb-5

%nav.mb-5
  .list-group
    - @synopsis.subject.synopses.includes(:student).each do |synopsis|
      - if synopsis == @synopsis
        = render synopsis, class: 'list-group-item-secondary' do
          %span.text-muted.link{ data: { href: student_path(synopsis.student) } }= synopsis.student.name
      - else
        - cache synopsis do
          = render synopsis do
            %span.text-muted.link{ data: { href: student_path(synopsis.student) } }= synopsis.student.name
